/* 글꼴 */
/* @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('http://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('http://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
} */
@font-face {
    /* 폰트이름 설정 */
    font-family: naba;;
    src:url('../font/NanumBarunGothic.ttf') format('truetype');
    src:url('../font/MiConv.com__NanumBarunGothic.eot');
    src:url('../font/MiConv.com__NanumBarunGothic.woff') format('woff');
}
.nanumbarungothic * {
   font-family: 'NanumBarunGothic', sans-serif; 
}
*{ margin: 0; padding: 0;}
li { list-style: none;}
a { text-decoration: none; font-family: naba; letter-spacing: 2px;}
img { width: 100%;}
body { font-family: naba; /*폰트 적용*/}
header, section, footer, div, ul, li {
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 70px;
    background-color: rgba(230, 230, 230, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 15px 20px;
    z-index: 101;
}
header .logo {
    width: 170px;
    margin-top: -7px;
    margin-left: 0px;
}
header .menu {
    display: flex;
    flex-flow: row nowrap;
}
header .menu .menu_btn {
    width: 50px;
    /* 형제객체 gnb와 겹침 */
    position: absolute;
    z-index: 103;
    right: 20px;
}

/* 햄버거메뉴 버튼 */
#nav-icon4 {
    width: 40px;
    height: 20px;
    position: relative;
    margin: 0px auto;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  #nav-icon4 span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #ffffff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  /* Icon 4 */
#nav-icon4 span:nth-child(1) {
  top: 5px;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 18px;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 31px;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 7px;
  left: 2px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 35px;
  left: 2px;
}
/* GNB */
.gnb {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    z-index: 102;
    background-color: #231916;
    padding: 20px;
}
.gnb .top_menu {
    width: 100%;
    float: left;
    display: flex;
}
.gnb .top_menu .search {
    display: flex;
}
.gnb .top_menu .search .search_input {
    
}
.gnb .top_menu .search .search_input input {
    border-radius:30px;
    background-color:#E34042;
    font-size: 14px;
    border: none;
    padding: 10px 10px;
    width: 80px;
    color: #fff;
}
.gnb .top_menu .search .search_input input::placeholder {
    color: #ddd;
    font-size: 12px;
    text-align: center;
}
.gnb .top_menu .search .search_btn {
    width: 30px;
    padding: 4px;
    margin-left: 5px;
    margin-top: 3px;
}
.gnb nav {
    width: 100%;
    float: left;
    margin-top: 30px;
    border-top: 1px solid #444;
}
.gnb nav ul li {
    /* height: 80px; */
    border-bottom: 1px solid #444;
}
.gnb nav ul li a {
    font-size: 20px;
    font-weight: 600;
    line-height: 80px;
    color: #fff;
    text-align: center;
    display: block;
}
.gnb nav ul li a.active {
    color: #E34042;
} 
.gnb nav ul li .sub {
    background-color: #333;
    display: none;
}
.gnb nav ul li .sub li {
    height: 55px;
}
.gnb nav ul li .sub li a {
    line-height: 55px;
    font-size: 14px;
}
.s1 .swiper {
    height: 100vh;
}
.s1 .swiper-slide {
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.s1 .main1 {
    background-image: url(../img/v1.png);
}
.s1 .main2 {
    background-image: url(../img/v2.png);
}
.s1 .main3 {
    background-image: url(../img/v3.png);
}
.s1 .swiper-slide h1 {
    color: #fff;
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}
.s1 .swiper-slide p {
    color: rgb(194, 194, 194);
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
    margin-top: 190px;
}
.s1 .swiper-slide .btn {
    width: 100px;
    height: 35px;
    border: 2px solid #E34042;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    background: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.s1 .swiper-slide .btn:hover {
    color: rgb(255, 255, 255);
}
.s1 .swiper-slide .btn::before, .s1 .swiper-slide .btn::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(128, 128, 128, .0.096);
    backdrop-filter: blur(3px);
    z-index: -1;
    transition: all 0.4s;
}
.s1 .swiper-slide .btn::after {
    z-index: -2;
    transition: all 0.4s;
}
.s1 .swiper-slide .btn:hover::before {
    background: rgba(0, 0, 0, 0.315);
    border-radius: 0px;
}
.s1 .swiper-slide .btn:hover::after {
    background: linear-gradient(to right,#E34042, #f6d3d3);
    border-radius: 0px;
    transform: scale(1.07, 1.2) rotateX(180deg);
}
.s1 .swiper-pagination {
    bottom: 10vh;
    transform: translateX(-50%);
    left: 50%;
}
.s1 .swiper-pagination-bullet {
    width: 40px;
    height: 5px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0;
    margin: 0 7px !important;
    border: 1px solid rgba(255, 255, 255, 1.0);
} 
.s1 .swiper-pagination-bullet-active {
    border: 1px solid #fff;
    background-color: transparent;
}
.s2 {
    background-image: url(../img/2s.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 7vw;
}
.s2 button {
    border: 1px solid #fff;
    font-size: 2.4vw;
    padding: 2vw;
    display: block;
    background-color: transparent;
    color: #fff;
    margin-left: 10px;
}
.s2 h2 {
    color: #fff;
    text-align: left;
    font-size: 24px;
    font-weight: 500; 
    line-height: 35px;
    margin-left: 10px;
    margin-top: 2vh;
}
.s2 .addNumber {
    margin-top: 6vw;
    margin-left: 10px;
}
.s2 .addNumber span {
    color: #fff;
    font-size: 14vw;
}
.s2 i {
    margin-top: 4vw;
    color: rgb(194, 194, 194);
    font-style: normal;
    font-size: 4vw;
    margin-left: 10px;
}
.s2 .egg_logo {
    width: 9vw;
    margin-top: 4vw;
    margin-left: 10px;
}
.s3 {
    background-image: url(../img/3s.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 7vw;
}
.s3 h2 {
    color: #fff;
    text-align: left;
    font-weight: 500;
    font-size: 24px; 
    line-height: 35px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.s3 .addNumber1 {
    margin-top: 6vw;
    margin-left: 10px;
}
.s3 .addNumber1 span {
    color: #fff;
    font-size: 14vw;
    float: left;
    margin-left: 70px;
    font-weight: 600;
}
.s3 .addNumber1 > p {
    margin-left: 5px;
    float: left;
    font-weight: 600;
}
.s3 .btn {
    width: 100px;
    height: 35px;
    border: 2px solid #E34042;
    display: block;
    margin-left: 10px;
    margin-top: 0px;
    background: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.s3 .btn:hover {
    color: rgb(255, 255, 255);
}
.s3 .btn::before, .s3 .btn::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(128, 128, 128, .0.096);
    backdrop-filter: blur(3px);
    z-index: -1;
    transition: all 0.4s;
}
.s3 .btn::after {
    z-index: -2;
    transition: all 0.4s;
}
.s3 .btn:hover::before {
    background: rgba(0, 0, 0, 0.315);
    border-radius: 0px;
}
.s3 .btn:hover::after {
    background: linear-gradient(to right,#E34042, #f6d3d3);
    border-radius: 0px;
    transform: scale(1.07, 1.2) rotateX(180deg);
}
.s3 i {
    display: block;
    margin-top: 4vw;
    color: rgb(194, 194, 194);
    font-style: normal;
    font-size: 3vw;
    margin-left: 10px;
    margin-bottom: 70px;
}
.s3 .icon {
    width: 9vw;
    margin-top: 4vw;
    margin-left: 10px;
    float: left;
}
.s3 p {
    color: #fff;
    float: left;
    margin-top: 28px;
    margin-left: 10px;   
}
.s4 {
    background-image: url(../img/4s.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 7vw;
}
.s4 h2 {
    color: #fff;
    text-align: center;
    font-size: 24px; 
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 50px;
}
.s4 h3 {
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin-top: 2vh;
    margin-bottom: 5px;
}
.s4 .s4_box {
    width: 100%;
    display: flex;
}
/* .s4_left와 .s4_right영역을 가리킴 */
.s4 .s4_box > div {
    width: 50%;
    padding: 5vw;
 
}
.s4 .s4_box .s4_left {
    border-right:1px solid rgb(215, 215, 215) ;
}
.s4 .s4_box p {
    color: #fff;
    font-size: 4vw;
    margin-top: 10px;
    white-space: nowrap;
    text-align: center;
    font-weight: 500;
}
.s4 .s4_box p span {
    color: #E34042;
    line-height: 15px;
}
.s4 .s4_box  div a {
    position: relative;
    width: 122px;
    height: 92px;
    display: block;
}
.s4 .s4_box  div  div {
    width: 122px;
    height: 92px;
    position: absolute;
    transition: all 0.5s;
}
.s4 .s4_box  .s4_left .s4_left_ani {
    top: -10vh;
    opacity: 0;
}
.s4 .s4_box  .s4_left .s4_left_ani.active {
    top: 0;
    opacity: 1;
}
.s4 .s4_box  .s4_right .s4_right_ani {
    left: 40vw;
    opacity: 0;
}
.s4 .s4_box  .s4_right .s4_right_ani.active {
    left:0;
    opacity: 1;
}
.s5 {
    background-image: url(../img/5s.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 7vw;
}
.s5 h2 {
    color: #fff;
    text-align: center;
    font-size: 28px; 
    font-weight: 500;
    line-height: 35px;
}
.s5 p {
    color: rgb(194, 194, 194);
    text-align: center;
    font-size: 16px; 
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 30px;
}
.s5 .s5_icon {
    width: 72px;
    height: 72px;
    margin: 0 auto;
}
.s6 {
    background-image: url(../img/6s.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 7vw;
    display: flex;
    flex-flow: column nowrap;
}
.s6 h2 {
    color: #fff;
    text-align: center;
    font-size: 28px; 
    font-weight: 600;
    line-height: 35px;
}
.s6 .s6_box {
    margin-top: 3vh;
}
.s6 .s6_box ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2vw;
    width: 100%;
    height: 35vh;
}
.s6 .s6_box ul li {
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1vw;
    box-sizing: border-box;
}
.s6 .s6_box ul .sns1{
    background-image: url(../img/sns1.jpg);
} 
.s6 .s6_box ul .sns2{
    background-image: url(../img/sns2.jpg);
} 
.s6 .s6_box ul .sns3{
    background-image: url(../img/sns3.jpg);
} 
.s6 .s6_box ul .sns4{
    background-image: url(../img/sns4.jpg);
} 
.s6 .s6_box ul .sns5{
    background-image: url(../img/sns5.jpg);
} 
.s6 .s6_box ul .sns6{
    background-image: url(../img/sns6.jpg);
} 
.s6 .s6_box ul .sns7{
    background-image: url(../img/sns7.jpg);
} 
.s6 .s6_box ul .sns8{
    background-image: url(../img/sns8.jpg);
} 
.s6 .s6_box ul .sns9{
    background-image: url(../img/sns9.jpg);
} 
.s6 .s6_box ul li .sns_icon {
    width: 30px;
    height: 30px;
    padding: 1vw;
    border-radius:100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.s6 .sns {
    margin-top: 2vh;
}
.s6 .sns ul {
    display: flex;
    justify-content: center;
}
.s6 .sns ul li {
    width: 50px;
    height: 50px;
}
.s7 > div {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
}
.s7 h3 {
    color: #fff;
    margin-left: 30px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 20px;
    margin-bottom: 5px;
}
.s7 span {
    color: #ddd;
    margin-left: 30px;
    font-weight: 400;
}

.s7 .news {
    grid-column-start:1;
    grid-column-end: 3;
    background-image: url(../img/7w.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.s7 .event {
    background-image: url(../img/7a.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.s7 .fran {
    background-image: url(../img/7d.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.s7 button {
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 2.4vw;
    padding: 2vw;
    display: block;
    background-color: transparent;
    color: #fff;
    margin-left: 30px;
    margin-top: 130px;
}
.s7 .event button, .fran button {
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 2.4vw;
    padding: 2vw;
    display: block;
    background-color: transparent;
    color: #fff;
    margin-left: 30px;
    margin-top: 50px;
}
.s7 .arrow {
    width: 20%;
    height: 10vh;
    margin-left: 30px;
    margin-top: 20px;
    opacity: 0.8;
}
footer {
    background-color:#231916;
    padding: 30px;
}
footer .info ul {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
footer .info ul li {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}
footer .info ul li:last-child {
    border-right: none;
}
footer .info ul li a {
    font-size: 2.5vw;
    color: rgb(207, 207, 207);
    padding: 0 1vw;
}
footer address {
    font-style: normal;
    font-size: 3vw;
    color: #666;
    line-height: 5vw;
    text-align: center;
    margin-top: 10px;
}
footer p {
    font-size: 2.4vw;
    color: #888;
    margin-top: 2vh;
    text-align: center;
}
#fp-nav ul li:last-child {
    display: none;
}
#fp-nav ul li a span {
    background: #999;
    width: 6px;
    height: 6px;
    opacity: 0.8;
    margin: -4px 0 0 -4px;
}
#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span {
    background:transparent;
    border: 2px solid #E34042;
    width: 10px;
    height: 10px;
    opacity: 1;
    margin: -9px 0 0 -9px;
}